fastapi
uvicorn
websockets
pydub
numpy
faster-whisper
piper-tts
sentence-transformers
coloredlogs
python-dotenv
twilio
llama-cpp-python
torch
langchain
sounddevice
scipy
librosa
soundfile
sarvamai
google-genai
python-multipart
